body{
  background-color: rgb(196, 181, 181);
}
.style{
   color: rgb(112, 226, 140);
   margin-left: 50px;
   background-color: rgb(43, 39, 39)
}
img{
  margin-left: 40px;
}
div.solid{
  border-style: solid;
  background-color: rgb(0, 0, 0);
}

}
.link{
  color: #085675;
}
h3{
  color: rgb(255, 208, 0);
}
